@import '../../index';

#notification-container {
  position: fixed;
  z-index: @z-index-notification;
  width: 384px;
}

.notification {
  .notification-item {
    background-color: #fff;
    border-radius: 4px;
    padding: 16px 24px;
    margin-bottom: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    .notification-content {
      margin-left: 20px;
      position: relative;
      font-size: @normal-font-size;
      color: @normal-font-color;
      font-weight: @normal-font-weight;

      .notification-title {
        font-size: @large-font-size;
        font-weight: @bold-font-weight;
        color: @title-font-color;
        margin-bottom: 16px;
        padding-right: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .notification-description {
        line-height: 2;
      }

      .notification-close {
        position: absolute;
        right: 0;
        top: 0;
        .cursor-pointer;
      }
    }
  }
}

.notification-left {
  left: 0;
  margin-left: 10px;
}

.notification-right {
  right: 0;
  margin-right: 10px;
}

.notification-top {
  top: 24px;
}

.notification-bottom {
  bottom: 24px;
}
