@import '../../index';

.input {
  margin: 0;
  display: inline-block;
  height: 32px;
  padding: 4px 11px;
  color: @normal-font-color;
  font-size: @normal-font-size;
  background-color: #fff;
  border: 1px solid @normal-border-color;
  border-radius: @border-radius;
  transition: all 0.3s;
  box-sizing: border-box;

  &::placeholder {
    color: @disabled-font-color;
  }

  &:focus {
    .input-focus;
  }

  &:hover {
    border-color: lighten(@primary-color, 10%);
  }

  &[disabled] {
    background-color: @disabled-background-color;
    color: @disabled-font-color;
    cursor: not-allowed;
    &:hover {
      border-color: @normal-border-color;
    }
  }
}

.input-focus {
  outline: 0;
  border-color: lighten(@primary-color, 10%);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
