@import '../../index';

.btn {
  outline: 0;
  border: 1px solid @normal-border-color;
  font-weight: @normal-font-weight;
  font-size: @normal-font-size;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0 15px;
  height: 32px;
  border-radius: @border-radius;
  color: @normal-font-color;
  background-color: #fff;

  .cursor-pointer;

  &:hover,
  &:focus {
    color: @primary-color;
    border-color: @primary-color;
  }

  &:active {
    color: darken(@primary-color, 20%);
    border-color: darken(@primary-color, 20%);
  }

  &[disabled] {
    .disabled;
  }
}

.btn-mixin(@color) {
  color: #fff;
  background-color: @color;
  border-color: @color;

  &[disabled] {
    .disabled;
  }

  &:hover,
  &:focus {
    background-color: lighten(@color, 10%);
    color: #fff;
    border-color: lighten(@color, 10%);

    &[disabled] {
      .disabled;
    }
  }

  &:active {
    background-color: darken(@color, 10%);
    border-color: darken(@color, 10%);

    &[disabled] {
      .disabled;
    }
  }
}

.btn-primary {
  .btn-mixin(@primary-color);
}

.btn-danger {
  .btn-mixin(@danger-color);
}

.btn-link {
  border-color: transparent;
  color: @primary-color;
  box-shadow: none;

  &[disabled] {
    color: @disabled-font-color;
    border-color: transparent;
    background-color: transparent;
  }

  &:focus,
  &:hover {
    border-color: transparent;
    color: lighten(@primary-color, 10%);

    &[disabled] {
      color: @disabled-font-color;
      border-color: transparent;
      background-color: transparent;
    }
  }

  &:active {
    border-color: transparent;
    color: darken(@primary-color, 10%);

    &[disabled] {
      color: @disabled-font-color;
      border-color: transparent;
      background-color: transparent;
    }
  }
}

.btn-small {
  height: 24px;
  padding: 0 7px;
  font-size: @small-font-size;
  border-radius: @border-radius;
}

.btn-large {
  height: 40px;
  padding: 0 15px;
  font-size: @large-font-size;
  border-radius: @border-radius;
}

.btn-block {
  width: 100%;
}

.btn-loading {
  position: relative;
  pointer-events: none;

  &::before {
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    background: #fff;
    border-radius: inherit;
    opacity: 0.35;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: '';
    pointer-events: none;
  }
}
