.modal {
  &-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.45);
  }

  margin: 100px auto 0;

  &-content {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;
  }

  &-close {
    position: absolute;
    cursor: pointer;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 65px;
    right: 0;
  }

  &-header {
    padding: 16px 24px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #e8e8e8;
  }

  &-body {
    padding: 24px;
  }

  &-footer {
    padding: 10px 16px;
    text-align: right;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;

    & > button:first-child {
      margin-right: 10px;
    }
  }
}

.button {
  white-space: nowrap;
  font-weight: 400;
  border: 1px solid #d9d9d9;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 15px;
  outline: none;
  font-size: 14px;
  height: 32px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  transition: color 0.4s;

  &:hover,
  &:focus {
    color: #40a9ff;
    border-color: #40a9ff;
  }

  &.button-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

    &:hover,
    &:focus {
      background-color: #40a9ff;
      border-color: #40a9ff;
    }
  }
}
