.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-direction(@direction) {
  flex-direction: @direction;
}

.flex-direction-row-reverse {
  .flex-direction(row-reverse);
}

.flex-direction-column {
  .flex-direction(column);
}

.flex-direction-column-reverse {
  .flex-direction(column-reverse);
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-content(@flex) {
  justify-content: @flex;
}

.justify-content-end {
  .justify-content(flex-end);
}

.justify-content-center {
  .justify-content(center);
}

.justify-content-space-between {
  .justify-content(space-between);
}

.justify-content-space-around {
  .justify-content(space-around);
}

.align-items(@flex) {
  align-items: @flex;
}

.align-items-end {
  .align-items(end);
}

.align-items-center {
  .align-items(center);
}

.align-items-baseline {
  .align-items(baseline);
}

.align-items-stretch {
  .align-items(stretch);
}

.align-content(@flex) {
  align-content: @flex;
}

.align-content-start {
  .align-content(start);
}

.align-content-end {
  .align-content(end);
}

.align-content-center {
  .align-content(center);
}

.align-content-space-between {
  .align-content(space-between);
}

.align-content-space-around {
  .align-content(space-around);
}
