@import '../../index';

.breadcrumbs {
  box-sizing: border-box;
  font-variant: @en-font-variant;
  line-height: 1.5;
  font-feature-settings: @font-feature-settings;
  font-size: @normal-font-size;
  color: @en-font-color;

  .breadcrumb {
    &:last-child {
      color: @normal-font-color;
    }
  }

  a.breadcrumb {
    .link;
    color: @en-font-color;
  }

  .breadcrumb-separator {
    margin: 0 10px;
  }
}
